/* You can add global styles to this file, and also import other style files */

html, body, app-root
  height: 100%
  margin: 0
  padding: 0

app-root
  display: block

.ant-layout-sider
  height: 100vh
  text-align: center

.ant-layout-header
  background: none

.ant-layout-footer
  text-align: center

.no-cursor
  caret-color: transparent

.no-text-sel
  -webkit-user-select: none
  -ms-user-select: none
  user-select: none
